<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous"></script>
    <link rel='stylesheet' href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nac">
            <a href="/catalog"><li>Home</li></a>
            <a href="/catalog/books"><li>All books</li></a>
            <a href="/catalog/authors"><li>All authors</li></a>
            <a href="/catalog/genres"><li>All genres</li></a>
            <a href="/catalog/bookinstances"><li>All book-instances</li></a>
            <a href="/catalog/author/create"><li>Create new author</li></a>
            <a href="/catalog/genre/create"><li>Create new genre</li></a>
            <a href="/catalog/book/create"><li>Create new book</li></a>
            <a href="/catalog/bookinstance/create"><li>Create new book instance</li></a>
          </ul>
        </div>
        <div class="col-sm-10">

        </div>
      </div>
    </div>
  </body>
</html>